  </main>
  <footer>
    <section id="bottom">
      <div>
        <p>
          Home | Request a List | Making Inspiration
        </p>
      </div>
      <div>
        <p>
          Action for Refugees 2019. A huge thank you to Alex Tran for her digital wizardry and C&T who provide support to
          arts and tech projects for their invaluable input to this project. <br> Photography/film content: Kia Aria and Elahe
          Nadali whose insight and creativity have been invaluable in the development of 36000 Humans.
        </p>
      </div>
      <div>
        <p>
          <a href="https://www.facebook.com/BearwoodAction/">Facebook</a> | <a href="https://www.instagram.com/BearwoodActionforrefugees/">Instagram</a> | <a href="https://twitter.com/bearwoodaction">Twitter</a>
        </p>
      </div>
    </section>
  </footer>
</body>

</html>
